<footer class="footer">
  <div class="container">
    <div class="row">

      <div class="col-sm-3 text-center">
          <h3>Stay in touch</h3>
          <ul class="text-center">
            <li><i class="fa fa-mobile" aria-hidden="true"></i> +00 000 123 000</li>
            <li><i class="fa fa-envelope" aria-hidden="true"></i> taravel-agency@travel.pl</li>
            <li><i class="fa fa-skype" aria-hidden="true"></i> dreamtrip24 </li>
          </ul>
      </div>

      <div class="col-sm-3 text-center">

        <h3>Our values</h3>
        <p class="value">Honesty</p>
        <p class="value">Passion</p>
        <p class="value">Experience</p>

      </div>

      <div class="col-sm-3 text-center">

          <h3>Opening Hours</h3>
          <ul class="text-center">
            <li>Monday-Friday: 8am - 5pm</li>
            <li>Saturday: 8am - 2pm</li>
            <li>Sunday: Closed</li>
          </ul>

      </div>


      <div class="col-sm-3 text-center">

        <h3>Numbers</h3>
        <p class="value">200000 Happy customers</p>
        <p class="value">134570 Organised trips</p>
        <p class="value">540 Global destinations</p>

      </div>


    </div>
  </div>
</footer>
